*{
    padding:0;
margin:0;
text-decoration: none;
list-style: none;
box-sizing: border-box;
}

nav{
background: #55796b;
height:80px;
width:100%
}

.apellido{color: #08fce8;}

.enlace{position: absolute;
padding: 20px 50px;}

.logo{height: 80px;}



nav ul{float: right;
margin-right: 20px;}


nav ul li{
display: inline-block;
line-height: 80px;
margin:0 5px
}
nav ul li a {
color: #08fce8;
font-size: 18px;
padding: 15px 25px; }



li a.active, li a:hover{background-color: white;
    color:#55796b;
transition: .5s;}

.check-boton{
font-size: 30px;
color:white;
float:right;
line-height: 80px;
margin-right: 40px;
cursor:pointer;
display: none;}

#check{display: none;}


section
{background: linear-gradient(rgba(194, 187, 187, 0.7), rgba(194, 187, 187, 0.7)), url(back.jpg) no-repeat;
background-size: cover;
background-position: center center;
height: calc(100vh - 80px);
}

@media (max-width:952px){
    .enlace{padding-left: 20px;}
}

nav ul li a {font-size: 16px;}

@media (max-width:858px){
    .check-boton{display: block;}
}




//ul
{position: fixed;
    width:100%;
    height:100vh;
    background: #55796b;
    top:80px;
    left:-100%;
    text-align: center;
    transition:0.5s;
}

//nav ul li{display: block;
margin:50px 0;
line-height: 30px;
}

//nav ul li a{font-size: 20px;}

//li a:hover, li a.active{background: none;
color:red}

//check:checked ~ ul {left:0}




