*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

nav{
    background: #2c3e50;
    height: 80px;
    width: 100%;
}

.nombre{
    font-size: 25px;
    color: white;
    padding-left: 50px;
    flex-wrap: wrap;
    margin:0;
    display:inline;
    line-height: 80px;
}
.apellido{color: #08fce8;}


.enlace{
    position: absolute;
    padding: 20px 50px;
}
.logo{
    height: 40px;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: #fff;
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
li a.active, li a:hover{
    background: #08fce8;
    transition: .5s;
    color: #2c3e50;
}
.checkbtn{
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}

body{background: url(back.jpg) no-repeat;
    background-size:cover;
    background-position: center center;
    height: calc(100vh - 0px);

}
.sec{
    
    
}

.box
{width: 1000px;
    background: rgba(22, 22, 27, 0.801);
margin: 0 auto;
margin-top: 100px;
padding: 20px;
color: #fff;
text-align: center;
border-radius: 15px;
column-count: 3;

}


.box-img{border-radius: 50%;
border: 3px solid black;
margin: 20px;
width: 150px;}

.box h1{
margin:30px 20px
}


.titulo_edu{
    text-align: center;
    font-size: 30px;
    display: block;
    margin: 10px;
}

.caja_edu{width: 700px;
    background: rgba(22, 22, 27, 0.801);
margin: 0 auto;
margin-top: 50px;
padding: 10px;
color: rgb(142, 199, 204);
border-radius: 15px;
font-size: clamp(1.5rem,8vw - 2rem, 3rem);
}

.caja_masinfo{width: 700px;
    background: rgba(22, 22, 27, 0.801);
margin: 0 auto;
margin-top: 50px;
padding: 10px;
color: rgb(142, 199, 204);
border-radius: 15px;
font-size: clamp(1.5rem,8vw - 2rem, 3rem);

}

@media (max-width: 952px){
    .enlace{
        padding-left: 20px;
    }
    nav ul li a{
        font-size: 16px;
    }
}

@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    li a:hover, li a.active{
        background: none;
        color: #08fce8;
    }
    #check:checked ~ ul{
        left:0;
    }
}


.clase_cursos
{   width: 600px;
    margin: 5px;}


.educa {
width: 600px;
margin: 15px;
}
.col {
    width: 600px;
    margin: 15px;
    column-count: 2;}


ul {list-style-type: none;}

.icon{color: rgb(142, 199, 204);
gap:5px}

.icon:hover
{
    color: #08fce8;
    transition: .3s;
    margin-left: 10px;
}

.sombrero 
{   font-size: 20px;}

.laboral {font-size: 20px;}

a{text-decoration: none;
}

.cont-icon{color: #08fce8;
    font-size: 30px;

}


.text{font-size: 15px;
}
.text:hover
{
    color: #08fce8;
    transition: .3s;

}

.text a{color:rgb(142, 199, 204);}
.text a:hover
{
    color: #08fce8;
    transition: .3s;

}

.text{color: rgb(142, 199, 204);
margin-left: 15px;}



.contacto
{margin: 10px 10px;
padding:10px;
}



.iconos{display: grid;
grid-template-columns: auto;

margin-left: 10px;}

.separacion{margin: 15px;
    gap: 10px;}

.div_masinfo
    {
        gap: 10px;
        align-items: center;
        justify-content: center;
        
    
}

.calendario {color:rgb(142, 199, 204);
font-size: 17px;}

.lugar {color:rgb(142, 199, 204);
font-size: 17px;}




    .personales{font-size: 16px;
    margin:10px;
padding: 10px;}

.iconinformatica{font-size: 25px;
color: #08fce8;
margin: 20px 20px;}

.subtitulo{font-size: 20px;
margin: 15px 5px;
text-align: center;}

.div_flags{justify-content: center;
    align-items: center;
    display:flex;
margin: 20px;}

img{border-radius: 50%;
width: 50px;
}

h5{font-size: 20px;
margin-left: 10px;
color: #08fce8;}


